{{template "base" .}}

{{ define "title" }} RPS Web - Acerca de {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="col">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Chema</h2>
                <p>¡Hola! Soy Chema, desarrollador de software, y esta web es el resultado de un proyecto práctico
                    realizado como parte de un curso de Go (Golang). La idea principal ha sido poner en práctica los
                    fundamentos del lenguaje desarrollando una aplicación web funcional y entretenida.</p>

                <p>El juego de Piedra, Papel o Tijera está implementado con Go en el backend, utilizando plantillas HTML
                    y Bootstrap para la interfaz. Además de reforzar mis conocimientos en Go, este proyecto me ha
                    permitido integrar conceptos de desarrollo web y manejo de rutas, formularios y lógica del juego.
                </p>

                <p>Gracias por visitar la página y probar el juego. Si estás aprendiendo Go como yo, espero que este
                    proyecto te sirva de inspiración o referencia. ¡Seguimos aprendiendo!</p>

                <ul class="py-3">
                    <li> <a href="https://github.com/Chemita1983" target="_blank">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}